<div class="container gray">
  <div class="col-md-5">
    <h6 class="title1 mt-3">INVESTIMENTOS</h6>

    <div class="card shadow ">
      <table class="table table-hover mt-3 text-center">
        <thead>
        <tr>
          <th>NOME</th>
          <th>OBJETIVO</th>
          <th>SALDO TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inv of listaInvestimentos; let i = index" (click)="asdf(inv)">
          <td>{{inv.nome}}</td>
          <td>{{inv.objetivo}}</td>
          <td>{{inv.saldoTotal}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
